{% render 'partials/head.liquid' %}
{% render 'partials/breadcrumb.liquid', pkmData: pkmData, pkmInfo: pkmInfo %}

<main class="detail-container"  style="background-color: var(--color-{{pkmInfo.types[0].type.name}});">
    <section class="pkm-info" style="background-color: var(--color-{{pkmInfo.types[0].type.name}}); background-image: url('/assets/bg-pokeball-detail.svg');">
        <h1 class="title-site"><a href="/"><img src="/assets/PokemonLogo.svg" width="300" height="107" alt="pokemon logo"></a></h1>
        <div class="id-pokeball">
            {% if pkmInfo.id < 10 %}
                <span class="details-pkm-id title-home">00{{pkmInfo.id}}</span>
            {% elsif pkmInfo.id < 100 %}
                <span class="details-pkm-id title-home">0{{pkmInfo.id}}</span>
            {% else %}
                <span class="details-pkm-id title-home">{{pkmInfo.id}}</span>
            {% endif %}

            

            {% assign pkmIdString = pkmInfo.id | append: "" %}
            {% if pkmCaught contains pkmIdString %}
                {% comment %} als het cadeau in de bookmark list zit, dan is de bookmark icon zwart {% endcomment %}
                <img class="pkm-pokeball" src="/assets/pokeball.svg" width="40" height="40" alt="{{bulba}} is caught">
            {% else %}
                <img class="pkm-pokeball" src="/assets/pokeball.svg" width="40" height="40" alt="{{bulba}} is caught" style="filter: grayscale(100%);">
            {% endif %}
        </div>

        {% comment %} {% assign current_spName = "" %} {% endcomment %}
        {% for pkm in pkmData %}
            {% if pkm.id == pkmInfo.id %}
                {% comment %} maak de spName gobal zodat het weer gebruikt kan worden zonder for loop {% endcomment %}
                {% assign current_spName = pkm.spName %}
                <h2 class="pkm-name title-detail">{{current_spName}}</h2>
            {% endif %}
        {% endfor %}
        <picture class="pkm-sprite">
            {% comment %} <source type="image/avif" srcset="/assets/test-bulba.avif"> {% endcomment %}
            {% comment %} <source type="image/webp" srcset="/assets/test-bulba.webp"> {% endcomment %}
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pkmInfo.id}}.png" width="179" height="174" alt="test-bulba" loading="lazy">
        </picture>
    </section>

    <section class="info-container detail-info">
        <nav class="tab-titles">
            <a href="#about">About</a>
            <a href="#stats">Stats</a>
            <a href="#evolutions">Evolutions</a>
            <div class="bar"></div>
            <div class="indicator"></div>
        </nav>

        <dl class="pkm-about tab" id="about">
            <dt>Name</dt>
            <dd>{{current_spName}}</dd>

            <dt>Id</dt>
            <dd>{{pkmInfo.id}}</dd>

            <dt>Base XP</dt>
            <dd>{{pkmInfo.base_experience}}</dd>

            <dt>Weight</dt>
            <dd>{{pkmInfo.weight}} kg</dd>

            <dt>Height</dt>
            <dd>{{pkmInfo.height}} cm</dd>

            <dt>Type</dt>
            <dd>
                {% for type in pkmInfo.types %}
                    <span class="type" style="background-color: var(--color-{{pkmInfo.types[forloop.index0].type.name}});">{{type.type.name}}</span>
                {% endfor %}
            </dd>

            <dt>Abilities</dt>
            <dd>
                {% for ability in pkmInfo.abilities %}
                    <span class="text">{{ability.ability.name}}</span>
                    {% if forloop.index == 1 %}, {% endif %}
                {% endfor %}
            </dd>
        </dl>

        <ul class="pkm-stats tab" id="stats">
            {% for stat in pkmInfo.stats %}
                <li>
                    <span class="stat">{{stat.stat.name}}</span>
                    <span class="number">{{stat.base_stat}}</span>
                    <meter value="{{stat.base_stat}}" min="0" max="255"></meter>
                </li>
            {% endfor %}
        </ul>

        <section class="evolution tab" id="evolutions">
            <article class="pkm-evo">
                <picture class="sprite" style="background-color: var(--color-{{pkmInfo.types[0].type.name}});">
                    {% comment %} <source type="image/avif" srcset="/assets/test-bulba.avif"> {% endcomment %}
                    {% comment %} <source type="image/webp" srcset="/assets/test-bulba.webp"> {% endcomment %}
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{basicId}}.png" width="70" height="68" alt="{{evolutions.chain.species.name}} image" loading="lazy">
                </picture>

                {% if pkmInfo.id < 10 %}
                    <span class="details-pkm-id">00{{basicId}}</span>
                {% elsif pkmInfo.id < 100 %}
                    <span class="details-pkm-id">0{{basicId}}</span>
                {% else %}
                    <span class="details-pkm-id">{{basicId}}</span>
                {% endif %}
                <h4 class="pkm-name"><a href="/details/{{evolutions.chain.species.name}}#about">{{evolutions.chain.species.name}}</a></h4>
            </article>

            {% for evo in evolutions.chain.evolves_to %}
                <article class="pkm-evo">
                    <picture class="sprite" style="background-color: var(--color-{{pkmInfo.types[0].type.name}});">
                        {% comment %} <source type="image/avif" srcset="/assets/test-bulba.avif"> {% endcomment %}
                        {% comment %} <source type="image/webp" srcset="/assets/test-bulba.webp"> {% endcomment %}
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{stageOneIds[forloop.index0]}}.png" width="70" height="68" alt="{{evolutions.chain.species.name}} image" loading="lazy">
                    </picture>

                    {% if pkmInfo.id < 10 %}
                        <span class="details-pkm-id">00{{stageOneIds[forloop.index0]}}</span>
                    {% elsif pkmInfo.id < 100 %}
                        <span class="details-pkm-id">0{{stageOneIds[forloop.index0]}}</span>
                    {% else %}
                        <span class="details-pkm-id">{{stageOneIds[forloop.index0]}}</span>
                    {% endif %}
                    <h4 class="pkm-name"><a href="/details/{{evo.species.name}}#about">{{evo.species.name}}</a></h4>
                </article>
            {% endfor %}

            {% for evo in evolutions.chain.evolves_to[0].evolves_to %}
                <article class="pkm-evo">
                    <picture class="sprite" style="background-color: var(--color-{{pkmInfo.types[0].type.name}});">
                        {% comment %} <source type="image/avif" srcset="/assets/test-bulba.avif"> {% endcomment %}
                        {% comment %} <source type="image/webp" srcset="/assets/test-bulba.webp"> {% endcomment %}
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{stageTwoIds[forloop.index0]}}.png" width="70" height="68" alt="{{evolutions.chain.species.name}} image" loading="lazy">
                    </picture>

                    {% if pkmInfo.id < 10 %}
                        <span class="details-pkm-id">00{{stageTwoIds[forloop.index0]}}</span>
                    {% elsif pkmInfo.id < 100 %}
                        <span class="details-pkm-id">0{{stageTwoIds[forloop.index0]}}</span>
                    {% else %}
                        <span class="details-pkm-id">{{stageTwoIds[forloop.index0]}}</span>
                    {% endif %}
                    <h4 class="pkm-name"><a href="/details/{{evo.species.name}}#about">{{evo.species.name}}</a></h4>
                </article>
            {% endfor %}
        </section>
    </section>
</main>

{% comment %} {{evolutions | json}} {% endcomment %}
{% render 'partials/foot.liquid' %}