{% render 'partials/head.liquid' %}

<main class="index-container">
    <section class="top-section">
        <h1 class="title-site"><img src="/assets/PokemonLogo.svg" width="300" height="107" alt="pokemon logo"></h1>

        <h2 class="title-home">All Pokemon</h2>

        <form method="get" action="/:name" class="search-bar">
            <input type="search" placeholder="Search All Pokemon">
            <button class="btn-submit"><img class="svg" src="/assets/btn-search.svg" width="25" height="25" alt="start search"></button>
        </form>

        <a href="/" class="filter-all-pkm"><img src="/assets/all-pkm.svg" width="24" height="24" alt="logo for all pokemon"><span>All Pokemon</span></a>
        <a href="/" class="filter-caught-pkm"><img src="/assets/pokeball-black.svg" width="24" height="24" alt="pokeball logo"><span>Caught Pokemon</span></a>
    </section>

    <div class="pkm-container">
        {% for pkm in pkmData %}
            <article class="pkm-card">
                {% assign type = pkm.types[0] %}
                <svg class="pkm-background" width="300" height="233" viewBox="0 0 352 285" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="351.667" height="285" rx="23" style="fill: var(--color-{{ type }});" fill-opacity="0.6"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6218 0C10.1281 0 0 11.0519 0 24.685V260.315C0 273.948 10.1281 285 22.6218 285H72.583C66.0516 267.687 61.9173 249.502 60.4851 231.166H65.782C72.1345 231.166 78.487 231.17 84.8396 231.175C104.604 231.19 124.368 231.206 144.132 231.074C148.1 231.047 149.805 232.187 150.882 236.636C155.558 255.946 165.402 272.581 178.52 285H295.234C308.435 272.514 318.326 255.798 322.93 236.499C323.907 232.405 325.328 231.02 329.296 231.056C336.753 231.115 344.21 231.15 351.667 231.169V191.643C344.096 191.656 336.526 191.679 328.956 191.718C325.497 191.736 323.976 190.752 323.032 186.841C312.405 142.953 276.539 113.333 235.158 113.999C196.075 114.628 160.969 144.348 150.977 185.628C149.857 190.268 148.311 191.827 143.808 191.782C125.255 191.593 106.697 191.613 88.1414 191.634C80.7192 191.642 73.2973 191.65 65.876 191.645C64.7234 191.627 63.5707 191.543 62.4181 191.459C61.8079 191.414 61.1977 191.37 60.5875 191.335C66.4441 109.759 129.555 23.9627 226.803 18.0005C275.746 15.0023 319.053 33.0546 351.667 63.3736V24.685C351.667 11.0519 341.539 0 329.045 0H22.6218ZM236.777 153.382C207.694 153.437 183.775 179.538 183.741 211.264C183.7 243.2 207.753 269.474 236.96 269.419C266.01 269.355 289.962 243.218 290.038 211.519C290.113 179.647 266.001 153.328 236.777 153.382ZM210.033 211.355C210.042 194.982 221.964 182.045 237.011 182.082C251.94 182.118 263.846 195.273 263.771 211.665C263.704 227.719 251.715 240.702 236.944 240.72C221.922 240.738 210.025 227.747 210.033 211.355Z" style="fill: var(--color-{{ type }});"/> </svg>
                <h3 class="pkm-name primary-h3-home">{{pkm.name}}</h3>
                <img class="pkm-pokeball" src="/assets/pokeball.svg" width="40" height="40" alt="{{bulba}} is caught">
                <picture class="pkm-sprite">
                    {% comment %} <source type="image/avif" srcset="/assets/test-bulba-2.avif"> {% endcomment %}
                    {% comment %} <source type="image/webp" srcset="/assets/test-bulba-2.webp"> {% endcomment %}
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pkm.id}}.png" width="100" height="100" alt="pokemon image not found" loading="lazy">
                </picture>
            </article>
        {% endfor %}
    </div>
</main>
{% comment %} {{pkmData.types[0].type.name|json}} {% endcomment %}

{% render 'partials/foot.liquid' %}